@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    text-size-adjust: 100%;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


body {
    font-family: "Poppins";
}

body.scroll-lock {
    overflow: hidden;
}

.wrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

.main__block-title {
    margin-top: 30px;
}

@media (max-width: 1350px) {
    .main__block-title {
        margin-top: calc(40px + 60 * ((100vw - 320px) / 1030));
    }
}

.container {
    max-width: 1350px;
    padding: 0px 15px;
    margin: 0px auto;
}

.block-title__body {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
}

.block-title__title {
    margin: 0px 0px 36px 0px;
    font-weight: 700;
    font-size: 56px;
    line-height: 140%;
    color: #000000;
}

@media (max-width: 767px) {
    .block-title__title {
        font-size: 46px;
        margin: 0px 0px 24px 0px;
    }
}

.block-title__text {
    margin-bottom: 86px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
}

@media (max-width: 1350px) {
    .block-title__text {
        margin-bottom: calc(32px + 54 * ((100vw - 320px) / 1030));
    }
}

.block-title__image {
    position: relative;
    padding: 0px 0px 42.75% 0px;
}

.block-title__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_choose {
    display: flex;
    margin-left: 30px;
    padding: 16px;
    font-family: "Poppins";
    margin-top: 50px;


}

.service_item {
    display: flex;
    margin-left: 30px;
    color: black;
    font-size: 20px;

}

.logo_choose {
    padding-left: 30px;
    margin-top: 8px;



}

.Why_Text {

    color: black;
    flex: 1;
    padding-left: 80px;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 20px
}

.content_Text_Choose {
    display: flex;
    max-width: 600px;
    line-height: 1.5;
    font-size: 18px;
    padding-left: 80px;

}

.content_Block_choose {
    display: flex;
    justify-content: center;
    gap: 15px;

}

.ellipse_element {
    justify-content: center;
    width: 100px;
    height: 100px;
}

.content_element {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 20px;
    gap: 20px;
    margin-top: 40px;
}

.Text_element_Choose {
    justify-content: center;
}