@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    text-size-adjust: 100%;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


body {
    font-family: "Poppins";
}

body.scroll-lock {
    overflow: hidden;
}

.wrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

.main__block-title {
    margin-top: 30px;
}

@media (max-width: 1350px) {
    .main__block-title {
        margin-top: calc(40px + 60 * ((100vw - 320px) / 1030));
    }
}

#text-white {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;

}

.container {
    max-width: 1350px;
    padding: 0px 15px;
    margin: 0px auto;

}

.block-title__body {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
}

.block-title__title {
    margin: 0px 0px 36px 0px;
    font-weight: 700;
    font-size: 56px;
    line-height: 140%;
    color: #000000;
}

@media (max-width: 767px) {
    .block-title__title {
        font-size: 46px;
        margin: 0px 0px 24px 0px;
    }
}

.block-title__text {
    margin-bottom: 86px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
}

@media (max-width: 1350px) {
    .block-title__text {
        margin-bottom: calc(32px + 54 * ((100vw - 320px) / 1030));
    }
}

.block-title__image {
    position: relative;
    padding: 0px 0px 42.75% 0px;
}

.block-title__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__achievement-about {
    margin-top: 100px;
}

@media (max-width: 1350px) {
    .main__achievement-about {
        margin-top: calc(40px + 60 * ((100vw - 320px) / 1030));
    }
}

.achievement-about__body {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 1440px) {
    .achievement-about__body {
        grid-template-rows: repeat(2, auto);
    }
}

@media (max-width: 1440px) {
    .achievement-about__body {
        grid-template-rows: repeat(3, auto);
    }
}

.achievement-about__title {
    margin: 0px 0px 20px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin: 0px 0px 20px 0px;
    color: #000000;
    position: relative;
    text-transform: uppercase;
}

.achievement-about__title:before {
    content: "";
    width: 680px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    left: 0;
    margin: 0px 0px 0px 140px;
}

@media (max-width: 767px) {
    .achievement-about__title:before {
        width: 400px;
    }
}

@media (max-width: 500px) {
    .achievement-about__title:before {
        width: 260px;
    }
}

@media (max-width: 375px) {
    .achievement-about__title:before {
        width: 140px;
    }
}

.achievement-about__text {
    font-weight: 600;
    font-size: 36px;
    line-height: 170%;
    color: #000000;
    margin-bottom: 56px;
}

@media (max-width: 1350px) {
    .achievement-about__text {
        margin-bottom: calc(24px + 32 * ((100vw - 320px) / 1030));
    }
}

.achievement-about__image img {
    width: 100%;
    /* height: 100%; */
}

.achievement-about__column {
    margin: 30px 0px 0px 0px;
}

@media (min-width: 1440px) {
    .achievement-about__column {
        justify-self: end;
    }
}

.achievement-about__card {
    display: grid;
}

@media (min-width: 1440px) {
    .achievement-about__card {
        align-items: center;
        grid-auto-flow: column;
    }
}

@media (max-width: 1440px) {
    .achievement-about__card {
        grid-template-rows: repeat(2, auto);
        justify-content: center;
    }
}

.column-blue {
    background-color: #2C3878;
}

@media (max-width: 1024px) {
    .column-blue {
        margin: 60px 0px 0px 0px;
    }
}

.column-items {
    padding: 42px 48px;
}

.column-item {
    text-align: center;
}

.column-item:not(:last-child) {
    padding: 0px 0px 57px 0px;
}

.item-title {
    font-weight: 400;
    font-size: 52px;
    line-height: 160%;
    color: #FFFFFF;
    margin: 0px 0px 12px 0px;
}

.item-sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}

.container_choose {
    display: flex;
    margin-left: 30px;
    padding: 16px;
    margin-top: 100px;


}

.service_item {
    display: flex;
    margin-left: 30px;
    color: black;
    font-weight: 500;
    padding-bottom: 25px;
    font-size: 16px;
    text-transform: uppercase;
}


.half-line {
    flex: 1;
    height: 2px;
    background-color: #000;
    max-width: 50%;
    margin-top: 10px;
    margin-left: 19px;

}


.Why_Text {
    display: flex;
    color: black;
    flex: 1;
    padding-left: 80px;
    font-weight: 500;
    font-size: 36px;
    padding-bottom: 40px;


}

.content_Text_Choose_main {

    display: flex;
    max-width: 600px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
    padding-left: 80px;
    padding-bottom: 20px;
    color: #9C9C9C;

}



.content_Text_Choose {
    display: flex;
    max-width: 600px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;

    padding-bottom: 20px;
    color: #9C9C9C;

}

.content_Block_choose {
    display: flex;
    justify-content: center;
    gap: 15px;




}

.ellipse_element {
    justify-content: center;
    width: 63px;
    height: 63px;
    margin-top: 20px;

}

.content_element {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 20px;
    gap: 20px;
    margin-top: 40px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    text-align: center
}

.Text_element_Choose span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

}

.content_Block_choose {
    display: flex;
    justify-content: center;
    gap: 15px;
}

@media (max-width: 800px) {
    .content_Block_choose {
        flex-direction: column;
        align-items: center;
    }

    .content_element {
        width: 100%;
        max-width: 400px;
        padding-left: 0;
    }

    .content_Text_Choose_main {
        transform: translateX(-40px) !important;
    }

    .container_choose {
        transform: translateX(-40px) !important;
    }

    .Why_Text {
        transform: translateX(-40px) !important;
    }
}