@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

#white_text {
  color: white;
}

.contact-section {
  height: 120px;
  background: rgba(44, 56, 120, 1);
  padding: 3vh 28vh 3vh 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-title1 {
  font-size: 36px;
  font-weight: 600;
}

#grey_text {
  color: rgba(217, 217, 217, 1);
}

.contact-title2 {
  font-size: 18px;
  font-weight: 400;
}

.contact-button-form {
  background: white;
  width: 140px;
  padding: 3px;
  margin-top: 15px;
}

.contact-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 10vh 28vh 0vh 20vh;
}

.footer-title {
  font-size: 36px;
  font-weight: 600;
  color: rgba(51, 51, 51, 1);
}

.follow-us-title {
  font-size: 16px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.footer-email-form {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-top: 1vh;
  margin-right: 1vh;
}

.footer-email-form img {
  margin-right: 2vh;
}

.footer-email-input {
  margin-top: 2vh;
  color: rgba(217, 217, 217, 1);
  font-size: 16px;
  font-weight: 400;
}

.footer-email-input input {
  height: 45px;
  width: 45vh;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  font-size: 1rem;
}

#exampleInputEmail1::placeholder {
  opacity: 50%;
}

.footer-email-section {
  display: flex;
}

.footer-btn {
  position: absolute;
  border: none;
}

.footer-btn:hover {
  cursor: pointer;
}

.footer-web-section {
  position: relative;
}

.footer-follow-container {
  position: absolute;
  left: 52%;
  margin-top: 5vh;
}

.footer-web-logos {
  padding: 10px 0;
}

.footer-web-logos img {
  background: rgba(217, 217, 217, 1);
  border-radius: 50%;
  height: 25px;
  margin-right: 2vh;
}
