* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none
}

.header {
    font-family: "Poppins";

}

.header__body {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    padding: 20px;

}

.header__logo {
    padding-top: 10px;

}

.header__menu_menu-header {
    font-family: "Poppins";
    display: flex;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    justify-content: center;
    gap: 50px;
    padding: 25px;
    font-size: 20px;
    margin-right: 30px;




}

.menu-header__list {
    list-style-type: none;
    display: flex;
    gap: 75px;
    padding-top: 10px;

}

.menu-header__link {
    color: rgb(47, 47, 47);

}

.black_link {
    font-weight: bold;
    color: black;

}

.header_button {
    width: 142px;
    height: 49px;
    background-color: rgb(23, 23, 144);
    color: white;
}

@media (max-width: 900px) {
    a {
        text-decoration: none
    }

    .header {
        font-family: "Poppins";

    }

    .header__body {
        display: flex;
        padding: 20px;
        flex-direction: column;


    }

    .header__logo {
        display: none;
        padding-top: 10px;
        justify-content: center;

    }

    .header__menu_menu-header {


        display: flex;
        flex-direction: column;
        justify-content: center;





    }

    .menu-header__list {
        list-style-type: none;
        display: flex;
        gap: 25px;
        padding-top: 10px;
        flex-direction: column;



    }


}