@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    text-size-adjust: 100%;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


body {
    font-family: "Poppins";
}

body.scroll-lock {
    overflow: hidden;
}

.wrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

.main__design {
    margin-top: 100px;
}

@media (max-width: 1350px) {
    .main__design {
        margin-top: calc(40px + 60 * ((100vw - 320px) / 1030));
    }
}

.design__labels {
    margin: 0px 0px 46px 0px;
    display: -ms-grid;
    display: grid;
}

@media (min-width: 992px) {
    .design__labels {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 992px) {
    .design__labels {
        grid-template-rows: repeat(2, 1fr);
        text-align: center;
    }
}

.design__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 140%;
    color: #333333;
}

@media (max-width: 1350px) {
    .design__title {
        font-size: calc(40px + 32 * ((100vw - 320px) / 1030));
    }
}

@media (max-width: 992px) {
    .design__title {
        margin: 0px 0px 40px 0px;
    }
}

.design__sub-title {
    align-self: start;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
}

@media (min-width: 992px) {
    .design__sub-title {
        justify-self: end;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
    }
}

.design__image {
    position: relative;
}

@media (max-width: 992px) {
    .design__image {
        margin: -100px 0px 0px 0px;
    }
}

@media (max-width: 479px) {
    .design__image {
        margin: -140px 0px 0px 0px;
    }
}

.design__image img {
    width: 100%;
    object-fit: cover;
}

.design__column {
    background-color: #2C3878;
}

@media (min-width: 1024px) {
    .design__column {
        position: absolute;
        top: -50%;
        right: 200px;
    }
}

@media (max-width: 1024px) {
    .design__column {
        margin: 60px 0px 0px 0px;
    }
}

.design__items {
    padding: 42px 48px;
}

.design__item {
    text-align: center;
}

.design__item:not(:last-child) {
    padding: 0px 0px 57px 0px;
}

.item-design__title {
    font-weight: 400;
    font-size: 52px;
    line-height: 160%;
    color: #FFFFFF;
    margin: 0px 0px 12px 0px;
}

.item-design__sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}


.main__about {
    margin-top: 160px;
}

@media (max-width: 1350px) {
    .main__about {
        margin-top: calc(60px + 100 * ((100vw - 320px) / 1030));
    }
}

.main__product {
    margin-top: 160px;
}


.container {
    max-width: 1350px;
    padding: 0px 15px;
    margin: 0px auto;
}

.title-main {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin: 0px 0px 20px 0px;
    color: #000000;
    position: relative;
    text-transform: uppercase;
}

.title-main:before {
    content: "";
    width: 680px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    left: 0;
    margin: 0px 0px 0px 80px;
}

.product__txt-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 0px 75px 0px;
}

.text-main {
    font-weight: 600;
    font-size: 36px;
    line-height: 170%;
    color: #333333;
}

.about__other {
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 992px) {
    .about__other {
        grid-template-columns: 1fr fit-content(260px);
        align-items: center;
    }
}

@media (max-width: 1152px) {
    .about__other {
        align-items: end;
    }
}

.about__text {
    margin: 0px 0px 60px 0px;
}

.about__image {
    margin: 0px 95px 0px 0px;
    position: relative;
}

@media (max-width: 992px) {
    .about__image {
        margin: 0px 0px 40px 0px;
    }
}

.about__image img {
    max-width: 100%;
}

@media (max-width: 992px) {
    .image_other {
        margin: 0px 0px 40px 0px;
    }
}

.text-white {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #9C9C9C;
}

.main__service {
    margin-top: 160px;
}

@media (max-width: 1350px) {
    .main__service {
        margin-top: calc(60px + 100 * ((100vw - 320px) / 1030));
    }
}

.service__card {
    background-color: #fff;
    display: inline-grid;
}

@media (min-width: 992px) {
    .service__card {
        grid-template-columns: minmax(auto, 800px);
    }
}

@media (max-width: 992px) {
    .service__card {
        display: grid;
        margin: 0px 0px 60px 0px;
    }
}

@media (max-width: 767px) {
    .service__card {
        margin: 0px 0px 30px 0px;
    }
}

@media (min-width: 992px) {
    .service__image {
        text-align: right;
        margin: -160px 0px 0px 0px;
        position: relative;
        z-index: -1;
    }
}

.service__image img {
    max-width: 100%;
}

.card-service__body {
    padding: 0px 40px 40px 0px;
    display: grid;
    grid-auto-flow: row;
}

@media (max-width: 992px) {
    .card-service__body {
        padding: 0px 0px 40px 0px;
    }
}

.card-service__text-black {
    margin: 0px 0px 24px 0px;
}

.card-service__text-white {
    margin: 0px 0px 40px 0px;
}

.card-service__list li {
    position: relative;
}

.card-service__list li:not(:last-child) {
    margin: 0px 0px 35px 0px;
}

.card-service__list li span {
    margin: 0px 30px 0px 0px;
}

@media (max-width: 375px) {
    .card-service__list li span {
        margin: 0px 4px 0px 0px;
    }
}

.card-service__link {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #333333;
}

@media (max-width: 500px) {
    .card-service__link {
        font-size: 16px;
        line-height: 125%;
    }
}

.card-service__link:Before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0px, -50%);
    background: url("../images/home/arrow-right.png") 0 0/cover no-repeat;
    width: 32px;
    height: 32px;
}


.product__list li {
    margin: 0px 0px 24px 0px;
    position: relative;
}

.product__list span {
    margin: 0px 80px 0px 0px;
}

.product__link {
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    color: #333333;
}

.product__link:Before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0px, -50%);
    background: url("../images/home/arrow-right.png") 0 0/cover no-repeat;
    width: 32px;
    height: 32px;
}

.product__txt {
    padding: 0px 0px 0px 120px;
}

.product__txt:not(:last-child) {
    margin: 0px 0px 43px 0px;
}


.about__info {
    display: inline-grid;
    justify-content: start;
    grid-template-areas: "image title" "image subtitle";
    padding: 18px 52px 18px 20px;
    filter: drop-shadow(10px 10px 40px rgba(0, 0, 0, 0.05));
    background-color: #fff;
    justify-content: center;
}

@media (min-width: 992px) {
    .about__info {
        position: absolute;
        top: 27px;
        right: -101px;
    }
}

.info-about__image {
    grid-area: image;
    margin: 0px 20px 0px 0px;
}

.info-about__title {
    grid-area: title;
}

.info-about__sub-title {
    grid-area: subtitle;
}

.block-text-about__text {
    margin: 0px 0px 40px 0px;
}

.block-text-about__button {
    background-color: #2C3878;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}

.btn {
    padding: 14px 32px;
    transition: background-color 0.8s ease 0s;
}

.btn:hover {
    background-color: rgb(148, 175, 238);
    transition: background-color 0.8s ease 0s;
    border: 1px solid rgb(69, 76, 94);
    color: #000;
}

.main__material {
    margin-top: 160px;
}

@media (max-width: 1350px) {
    .main__material {
        margin-top: calc(60px + 100 * ((100vw - 320px) / 1030));
    }
}

.material__body {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 992px) {
    .material__body {
        grid-template-columns: 50% 50%;
    }
}

.material__text-white {
    margin: 0px 0px 24px 0px;
}

.material__button {
    border: 1px solid #3C3C3C;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
}

.material__images {
    display: grid;
}

@media (min-width: 992px) {
    .material__images {
        grid-template-columns: repeat(2, auto);
    }
}

@media (min-width: 767px) {
    .material__images {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (max-width: 767px) {
    .material__images {
        grid-template-rows: repeat(2, auto);
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .material__images {
        margin: 80px 0px 0px 0px;
    }
}

.material__image img {
    max-width: 100%;
}

.material__other-images {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (max-width: 992px) {
    .material__other-images {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .image1 {
        margin: 50px 0px 0px 0px;
    }
}

@media (max-width: 767px) {
    .image1 {
        margin: 0px 0px 20px 0px;
    }
}

@media (max-width: 992px) and (max-width: 992px) {
    .image2 {
        margin: 0px 0px 20px 0px;
    }
}