@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  justify-content: center;
}

.section_cutter-text {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}

.section_cutter-text::after {
  content: "";
  flex-grow: 0.5;
  height: 2px;
  background-color: #000;
  margin-left: 15px;
}

.creative_person-title {
  color: rgba(51, 51, 51, 1);
  font-weight: 600;
  font-size: 36px;
  margin: 2vh 0px;
}

.creative_person-subtitle {
  font-weight: 400;
  color: rgba(156, 156, 156, 1);
  font-size: 18px;
  margin: 3vh 0px 6vh 0px;
  line-height: 160%;
}

.creative_person-cards {
  display: grid;
  grid-template-columns: repeat(4, 282px);

  align-items: center;
  gap: 20px;
  width: 100%;
}

.creative_person-photo {
  position: relative;
  background: rgba(44, 56, 120, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.creative_person-photo img {
  width: 282px;
  height: 386px;
}

.creative_person-info {
  background: white;
  position: absolute;
  bottom: 0%;
  padding: 20px 30px;
  margin: 10px;
  width: 90%;
}

.creative_person-info-text {
  color: rgba(51, 51, 51, 1);
  font-weight: 600;
  font-size: 24px;
}

.creative_person-info-subtext {
  color: rgba(156, 156, 156, 1);
  font-weight: 400;
  font-size: 16px;
}

.creative_person-info-box {
  position: relative;
  left: -5%;
}
